body {
  //color: red;
  padding: 7px;
}

/*Index page*/

#productholder {
  width: 50%;
  float: left;
  //border: 1px solid black;
}

#linkholder {
  width: 35%;
  float: left;
}

.cbox {
  position: absolute;
  left: 8px;
}

.product {
  width: 30%;
  background-color: #e3e8e8;
  font-size: 18px;
  text-align: center;
  border: 1px solid #c7d1d1;
  border-radius: 3px;
  margin: 6px;
  padding: 8px;
  position: relative;
  float: left;
  box-sizing: border-box;
  min-width: 170px;
  max-width: 220px;
}

#deletebtn {
  width: 30%;
  padding: 6px;
  margin-top: 6px;
}

#addbtn:link, #addbtn:visited, #backtomenubtn:link, #backtomenubtn:visited, #deletebtn, .addinput[type=submit] {
  color: white;
  border: none;
  background-color: #46b946;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
}

.addinput[type=submit] {
  width: 100%;
  margin-top: 7px;
  padding: 8px;
}

/*Add Product*/

#holder {
  width: 35%;
  background-color: #e3e8e8;
  padding: 15px;
  border-radius: 3px;
}

label, p, .error {
  font-size: 18px;
}

.addinput[type=text], .addinput[type=number], select {
  width: 100%;
  padding: 6px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
}

#addbtn:link, #addbtn:visited {
  width: 30%;
  padding: 4px;
  margin-top: 6px;
}

#backtomenubtn:link, #backtomenubtn:visited {
  width: 100%;
  padding: 7px;
  margin-top: 8px;
}

.error {
  color: red;
}

input[type=submit]:hover, #deletebtn:hover, #addbtn:hover, #backtomenubtn:hover {
  background-color: #59a659;
}
